* {
  font-size: large;
  margin: .5em;
  padding: .25em;
  background-color: #edd1b0;
  font-family: "Spectral", serif;
}

fieldset {
  padding: .5em;
  border: solid #0000005e;
  border-radius: 10px;
}

input {
  background-color: #ffffff;
  border: solid 2px #0000005e;
  border-radius: 10px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7.5%;
}

.legenda {
  font-weight: bold;
  font-size: 1em;
}

#enviar {
  padding: .5em;
  background-color: #32a517;
  color: #ffffff;
  font-size: medium;
  border: solid 2px #0000005e;
  border-radius: 10px;
  cursor: pointer;
  transition: ease;
}

#enviar:hover {
  transform: scale(1.05);
}
